<div class="loginBox">
    <p ng-show="vm.failedLogin">Login failed, try again</p>
    <form name="loginForm" novalidate ng-submit="vm.actions.tryLogin()">
        <h1 class="loginBox__title">Login to JIRA</h1>
        
        <input class="loginBox__input" type="text" ng-model="vm.email" placeholder="E-mail address" ng-disabled="vm.isBusy" required />
        <input class="loginBox__input" type="password" ng-model="vm.password" placeholder="Password" ng-disabled="vm.isBusy" required />
        <button class="loginBox__button" type="submit" >{{ vm.isBusy ? 'Please wait...' : 'Prijava' }}</button>
    </form>
</div>