.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin-heading{
    margin-bottom: 10px;
}

.form-signin input[type="password"]{
    margin-bottom: 10px;
}

.form-signin div.alert{
    margin-top:5px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar-nav {
	margin:0;
}
.navbar-nav > li {
	float:none;
    display:inline-block;
}
.navbar-nav > li > span {
    margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}